aiohttp>=3.10.11
anyio
docling>=2.21.0
fastapi>=0.115.8
nest-asyncio>=1.6.0
ollama>=0.4.5
playwright>=1.50.0
pydantic>=2.10.6
trio
uvicorn>=0.34.0
motor
ollama>=0.4.8
click
rich
isort
loguru
motor
gradio
pytest>=8.0.0
pytest-asyncio>=0.23.0
mongomock-motor
tomli>=2.0.1
typing_extensions>=4.0.0
